%h1 Blog
= render 'form'


//	= f.label "Firstname"
//= f.text_field :firstname, placeholder: 'Firstname' 

//	= f.label "Lastname"
//	= f.text_field :lastname, placeholder: 'Lastname' 
//	%br
//	%br
//	= f.label "Gender"
//	= select_tag :gender, options_for_select([['Male','1'], ['Female', '0']], params[:gender])
//	%br
//	%br
//	= f.label "email"
//	= f.text_field :email, placeholder: 'example@yahoo.com' 
//	%br
//	%br